<!--Simple home page, allows users to select other pages in the header-->
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />

    <title>
        Tarpy Foundation Homepage
    </title>
    <link href = "css/styles.css" rel = "stylesheet">

  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
        <h1>
            Events Sponsored by Tarpy Corp
        </h1>
        <h2>
        </h2>

      <p id = "home">
        Welcome to my home page, click a events or details to see events in place, and create events with our create events page
      </p>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>

</html>