<footer>
  <link href = "/css/styles.css" rel = "stylesheet">
  <span>&copy;Tarpy Corp</span>
  <div id = "info">
    <a href = "/info/about/">About   ||</a>
    <a href = "/info/contact/">Contact</a>
  </div>
</footer>