<!--My contact page, this allows any contact that you would like-->
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />

    <title>
      Contacts
    </title>
    <link href = "/css/styles.css" rel = "stylesheet">

  </head>

  <body>
    <header>
        <div id = "pages">
          <a href = "/"> Homepage   || </a>
          <a href = "/events/">Events</a>
      </div>
      <div id = "Logo"><img src = "/images/TarpyCorp.jpg" alt = "A Logo"></div>
      </header>
    <main>
        <h1>
            My Contacts
        </h1>
      <p>
        Email: liamtarpy@yahoo.com<br>
        Phone: 919-449-8746<br>
      </p>
    </main>
    <footer>
        <span>&copy;Tarpy Corp</span>
        <div id = "info">
          <a href = "/about">About   ||</a>
          <a href = "/contact">Contact</a>
        </div>
      </footer>
  </body>

</html>