body
{
	color: #0C120C;
	background: lime;
	text-align: center;
	font-family: Sanskrit;
}
header
{
	font-family: Futura;
	margin-bottom: 60px;
}
h3
{
	margin-top: 60px;
}
nav
{
	background-color: #5AD2F4;
	font-family: Sanskrit;
	font-size: 20px;
	color: #63595C;
}
h2
{
	font-size: 30px;
}
