body
{
	color: #F7F0F0;
	background: #109648;
	text-align: center;
	font-family: Sanskrit;
}
header
{
	font-family: Futura;
	//background-color: #5AD2F4;
	background-color: #8AF3FF;
}
h3
{
	margin-top: 60px;
}
nav
{
	background-color: #8AF3FF;
	font-family: Sanskrit;
	font-size: 20px;
	color: #63595C;
	margin-bottom: 60px;
}
h2
{
	font-size: 30px;
}
