header
{
  background: #B49A67;
  text-align: right;
}
h1
{
  font-family: Mistral;
  font-size: 75px;
  margin-left: 28px;
  color: #A1C6EA;
}
tr
{
  background: #613F75;
  border: 5px;
}
td
{
  border: 10px;
}
h3
{
  text-align: center;
}
