<footer>
  <link href = "/css/styles.css" rel = "stylesheet">
  <span>&copy;Tarpy Corp</span>
  <div id = "info">
    <a href = "/about">About   ||</a>
    <a href = "/contact">Contact</a>
  </div>
</footer>