<header>
  <link href = "/css/styles.css" rel = "stylesheet">
  <div id = "pages">
    <a href = "/"> Homepage   || </a>
    <a href = "/events/">Events  || </a>
    <a href = "/events/new/">Create Events</a>
  </div>
  <div id = "Logo"><a href = "/"><img src = "/images/TarpyCorp.jpg" alt = "A Logo"></div></a>
</header>