<!--My about page, displays who I am-->
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />

    <title>
      About Me
    </title>
    <link href = "/css/styles.css" rel = "stylesheet">

  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
        <h1>
            About Me:
        </h1>
      <h2>
        My Name is Liam Tarpy
      </h2>

      <p>
        A student at UNC Charlotte, hoping to graduate in May of 2022.  Founder of Tarpy Foundation.
      </p>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>

</html>