<!--My contact page, this allows any contact that you would like-->
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />

    <title>
      Contacts
    </title>
    <link href = "/css/styles.css" rel = "stylesheet">

  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
        <h1>
            My Contacts
        </h1>
      <p>
        Email: liamtarpy@yahoo.com<br>
        Phone: 919-449-8746<br>
      </p>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>

</html>