<!--Simple home page, allows users to select other pages in the header-->
<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="utf-8" />

    <title>
        Tarpy Foundation Homepage
    </title>
    <link href = "css/styles.css" rel = "stylesheet">

  </head>

  <body>
    <%- include('./partials/header.ejs')%>
    <main>
        <h1>
            Events Sponsored by Tarpy Corp
        </h1>
        <h2>
        </h2>

      <p id = "home">
        Welcome to the sign in page for events at UNC Charlotte. If you are a user, please sign in. If you are a first time user, please sign up, or access our events using our guest option
      </p>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>

</html>