body{
  padding: 25px;
  background: #78BBCB;
}
.title {
	color: #4C0F42;
	font-family: Arial;
	font-size: 21px;
	padding-left: 5%;
}

#GeoInfo
{
  color: red;
  text-align: center;
}

#dropping 
{
  background-color: #73B059;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
}

#dropdown1 {
  position: relative;
  display: inline-block;
  padding-left: 6%;
}

#dropdown-content {
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
}

#dropdown-content a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}

#dropdown-content a:hover
{
  background-color: #ddd;
}

#dropdown1:hover #dropdown-content 
{
  display: block;
}

#dropdown1:hover #dropping 
{
  background-color: #BCFDFD;
  color: black;
}
