body{
  padding: 25px;
  background: #DDD0C5;
}
.title {
	color: #5C6AC4;
	font-family: Arial;
}
#GeoInfo
{
  color: red;
  text-align: center;
}
.dropdown1
{
  position: relative;
  display: inline-block;
}
.dropdown-content
{
  display: none;
  position: absolute;
}
.dropdown1:hover .dropdown-content
{
  display: block;
}
