body{
  padding: 25px;
  background-color: #B1C9A9;
}
.title {
	color: #0E2D67;
}

table, th
{
  border: black 1px solid;
  background-color: white;
}
td
{
  border: black 1px solid;
  background-color: white;
  padding-right: 6px;
}
